DB_NAME=// put your database name here
MONGODB_URI=// put your mongodb uri here
PORT=//put your backend port here, for example: 8000
CORS_ORIGIN=//put your frontend url here, for example: http://localhost:3000
CLERK_PUBLISHABLE_KEY=//put your clerk publishable key here
CLERK_SECRET_KEY=//put your clerk secret key here
GROQ_API_KEY=//put your groq api key here